.quiz_container {
  margin-bottom: 4rem;
}

.domainName {
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.swiper_container {
  padding: 1rem;
}

.quiz_item {
  background-color: #1a1a1a;
  border-radius: 16px;
  text-align: center;
  height: 320px;
  min-height: 320px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease;
  margin: 2rem;
  padding: 2rem;
}

.quiz_text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-grow: 1;
  justify-content: flex-start;
  width: 100%;
}

.quiz_item:hover {
  transform: scale(1.03);
}

.quiz_item h2 {
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.quiz_item h4 {
  font-size: 1rem;
  color: #aaa;
}

.quiz_item p {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 1rem;
}

.quiz_btn {
  background-color: #00ffcc;
  color: black;
  padding: 0.6rem 1.2rem;
  border-radius: 999px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  align-self: center;
  margin-top: 1rem;
}

.quiz_btn:hover {
  background-color: white;
}
