.quiz_wrapper {
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz_header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.quiz_card {
  background: rgba(255, 255, 255, 0.05);
  padding: 2rem;
  border-radius: 24px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.quiz_image {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.question {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.options {
  display: grid;
  gap: 1rem;
}

.option_btn {
  padding: 1rem;
  border-radius: 999px;
  border: 2px solid white;
  background: transparent;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.option_btn:hover {
  background: white;
  color: black;
}

.selected {
  background: #00ffcc;
  color: black;
}

.next_btn_container {
  margin-top: 2rem;
}

.next_btn {
  padding: 1rem 2rem;
  border-radius: 50%;
  font-weight: bold;
  background: white;
  color: black;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.progress {
  font-size: 0.9rem;
  color: #ccc;
  margin-top: 0.5rem;
}
